# файлы
.htaccess
.htpasswd
*.htaccess
.htaccess*
*web.config
*.log
*.sql
*.txt
*.dt
*.xml
*.csv
*.xls
*.doc*
*.tar*
*.zip
*.rar
*.gz
*.bak
*.old
*.backup
*~
_*
.settings.php
favicon*
composer*
debug*

nbproject/
.idea/
.vscode/
.classpath
.project
.settings/
.DS_Store*
Thumbs.db
__MACOSX/

/bitrix/activities/
/bitrix/admin/
/bitrix/wizards/
/bitrix/backup/
/bitrix/cache/
/bitrix/components/bitrix/
/bitrix/crontab/
/bitrix/css/
/bitrix/fonts/
/bitrix/html_pages/
/bitrix/opt/
/bitrix/gadgets/
/bitrix/services/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/js/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/modules/
/bitrix/panel/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect_d7.php
/bitrix/php_interface/dbconn.php.crm
/bitrix/.settings.php.crm
/bitrix/php_interface/after_connect.php
/bitrix/sounds/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/updates/
/bitrix/wizard/
/bitrix/otp/
/bitrix/catalog_export/
/bitrix/template/
/bitrix/.settings.php.crm.orig
/bitrix/activity_limit.php
/bitrix/click.php
/bitrix/redirect.php
/bitrix/rk.php
/bitrix/rss.php
/bitrix/spread.php
/bitrix/coupon_activation.php
/bitrix/footer.php
/bitrix/header.php
/bitrix/index.php
/bitrix/license_key.php
/local/docs/


/bower_components/
/node_modules/
/cache/
/upload/
video
/vendor/
/test/
/pic/
/cgi-bin/
/logs/
/images/
/migrate/
/bxr_tmp/
/desktop_app/
/files/


/.git*
/google*.html
/yandex*.html


/.git_old
deploy.php
urlrewrite.php

test.php
test*.php
del.php
delete.php