# файлы
.htaccess
.htpasswd
*.htaccess
.htaccess*
*web.config
*.log
*.sql
*.txt
*.dt
*.xml
*.csv
*.xls
*.doc*
*.tar*
*.zip
*.rar
*.gz
*.bak
*.old
*.backup
*~
_*
.settings.php
favicon*
composer*
debug*

nbproject/
.idea/
.vscode/
.classpath
.project
.settings/
.DS_Store*


/bitrix/admin/
/bitrix/wizards/
/bitrix/backup/
/bitrix/cache/
/bitrix/components/bitrix/
/bitrix/crontab/
/bitrix/css/
/bitrix/fonts/
/bitrix/gadgets/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/js/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/modules/
/bitrix/panel/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect_d7.php
/bitrix/php_interface/dbconn.php.crm
/bitrix/.settings.php.crm
/bitrix/php_interface/after_connect.php
/bitrix/sounds/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/updates/
/bitrix/wizard/
/bitrix/catalog_export/
/local/docs/


/cache/
/upload/
/video/
/vendor/
/test/
/pic/
/cgi-bin/

/.git*
/google*.html
/yandex*.html

/.git_old
deploy.php
urlrewrite.php